package views

import "mindpalace/usecase/orchestrate"

templ Index() {
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>MindPalace</title>
            <script src="https://unpkg.com/htmx.org@2.0.0"></script>
            <script>htmx.logAll();</script>
            <style>
                .loader {
                  display: none;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  border: 16px solid #f3f3f3;
                  border-top: 16px solid #3498db;
                  border-radius: 50%;
                  width: 120px;
                  height: 120px;
                  animation: spin 2s linear infinite;
                }
                @keyframes spin {
                  0% { transform: rotate(0deg); }
                  100% { transform: rotate(360deg); }
                }
            </style>
        </head>
        <body>
            <h2>Chat Window</h2>
            <div id="chat">
                @ChatContent(orchestrate.LLMResponse{})
            </div>
        </body>
    </html>
}

templ ChatContent(response orchestrate.LLMResponse) {
    <div id="chatbox" style="border: 1px solid #ccc; padding: 10px;">
        <div style="border-bottom: 1px solid #ccc; padding: 10px;">
            <div style="font-weight: bold; color: #000;">Request:</div>
            <div style="padding: 5px; color: #555;">{ response.Request }</div>
        </div>
        <div style="padding: 10px;">
            <div style="font-weight: bold; color: #000;">Response:</div>
            <div style="padding: 5px; color: #555;">{ response.Response }</div>
        </div>
    </div>
    <form hx-post="/send" style="margin-top: 10px;" hx-indicator="#spinner">
        <input type="text" name="chatinput" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;"/>
    </form>
    <div id="spinner" class="loader"></div>
}
